body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.parallax-container {
  height: 300px!important;
}

nav {
  background-color: #222222!important;
}

footer {
  background-color: #222222!important;
}

/* fix the way the color hierarchy works */
a {
  color: #5D6D7E!important;
}

nav a {
  color: #AED6F1!important;
}

.brand-logo {
  margin-left: 1rem;
  color: #EBF5FB!important;
}
